Repository googleapis/python-binary-authorization, pull requests merged in 2021-04, with the labels that each got.

#7 fix: use correct retry deadline
  .pre-commit-config.yaml
  google/cloud/binaryauthorization_v1beta1/services/binauthz_management_service_v1_beta1/async_client.py
  google/cloud/binaryauthorization_v1beta1/services/binauthz_management_service_v1_beta1/client.py
  google/cloud/binaryauthorization_v1beta1/services/binauthz_management_service_v1_beta1/pagers.py
  google/cloud/binaryauthorization_v1beta1/services/binauthz_management_service_v1_beta1/transports/base.py
  google/cloud/binaryauthorization_v1beta1/services/binauthz_management_service_v1_beta1/transports/grpc.py
  google/cloud/binaryauthorization_v1beta1/services/binauthz_management_service_v1_beta1/transports/grpc_asyncio.py
  google/cloud/binaryauthorization_v1beta1/types/__init__.py
  google/cloud/binaryauthorization_v1beta1/types/resources.py
  noxfile.py
  synth.metadata
  synth.py
  testing/constraints-3.6.txt
  testing/constraints-3.7.txt
  testing/constraints-3.8.txt
  testing/constraints-3.9.txt
  tests/unit/gapic/binaryauthorization_v1beta1/__init__.py
  tests/unit/gapic/binaryauthorization_v1beta1/test_binauthz_management_service_v1_beta1.py
Labels: api: binaryauthorization, cla: yes, context: full, context: partial

#16 chore: add tarfile
  binaryauthorization-v1beta1-py.tar.gz
  synth.metadata
Labels: api: binaryauthorization, cla: yes, context: none

#19 Chore: Re-generated to pick up changes from synthtool.
  .pre-commit-config.yaml
  binaryauthorization-v1beta1-py.tar.gz
  docs/conf.py
  synth.metadata
Labels: api: binaryauthorization, cla: yes, context: partial, kokoro:force-run

#20 chore: add constraints file check for python samples
  .github/header-checker-lint.yml
  renovate.json
  synth.metadata
Labels: api: binaryauthorization, cla: yes, context: full, samples

#22 chore: prevent normalization of semver versioning
  setup.py
Labels: api: binaryauthorization, cla: yes

#23 chore(revert): revert preventing normalization
  setup.py
Labels: api: binaryauthorization, cla: yes
